{% extends "base.html" %}
{% block body %}
<h1 class='text-center'>login Now</h1>

{% load crispy_forms_tags %}
<form action="" method='post' novalidate class='w-50 m-auto text-white bg-secondary rounded-3 p-3 my-4 '>
  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <small class=' text-danger'>{{error}}</small>
  {% endfor %}  
  {% endif %}
  {% csrf_token %} 
  {% for fm in form %}
    <div class="mb-3">
        {{fm.label_tag}}
        {{ fm }}
        {{ fm.errors | striptags }}
    </div>
  {% endfor %} 
  <div class='text-center'><input class='btn btn-primary w-50 m-auto' type="submit" value="Login"></div>
  <small>New to this website? <a class='text-warning' href="{% url 'signuppage' %}">go to Register</a></small>
</form>

{% endblock body %}